mat-form-field {
  margin-right: 12px;
  font-size: 20px;
}
.everything {
  display: flex;
  flex-direction: horizontal;
}
.padding {
  background-color: rgb(130, 130, 185);
  width: 2px;
  margin: 10px;
}