<div class="everything">
  <div class="padding"></div>
  <div>
    <!-- Text field that holds the goal title -->
    <div class="titleArea">
      <mat-form-field>
        <mat-label>Title</mat-label>
        <textarea matInput
                  cdkTextareaAutosize
                  cdkAutosizeMinRows="1"
                  cdkAutosizeMaxRows="10"
                  [(ngModel)]="goal.title"></textarea>
      </mat-form-field>
      <div>{{goal.value.toFixed(1)}}%</div>
    </div>
    <mat-slider 
      min="0" 
      max="100" 
      step="5" 
      (input)="emitValueUpdate($event)"
      [value]="goal.value"
      disabled="{{ goal.subgoals.length > 0 }}"
    ></mat-slider>
    <button (click)="requestDelete()">Delete</button>
    <button (click)="addSubgoal()">Add subgoal</button>
    <!-- TODO: add a vertical line for each indentation level -->
    <div class ="subgoals">
      <app-goal-deleter [goal]="goal">
      </app-goal-deleter>
    </div>
  </div>
</div>