/* app-goal-section{
  width: 100%;
} */
.top-level-wrapper{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
app-files{
  min-width: 200px;
  max-width: 200px;
  height: 100%;
  flex: 0;
}

app-viewer{
  width: 100%;
  height: 100%;
}