.goalSection{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.main_label{
  font-size: 50px;
  margin: 5px;
  line-height: 1;
  /* display: flex;
  flex-direction: row; */
  justify-content: flex-start;
}
button{
  margin: 5px;
  flex: auto;
}
.row{
  display: flex;
  justify-content: space-between;
}
.newGoalButton{
  font-size: 20px;
  max-width: 180px;
}
textarea{
  flex: 0;
  overflow-y: hidden !important;
}