.goalSection{
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}
.main_label{
  font-size: 50px;
  margin: 5px;
  line-height: 1;
  min-width: 500px;
}
button{
  margin: 5px;
  flex: auto;
}
.row{
  display: flex;
  justify-content: space-between;
}
.newGoalButton{
  font-size: 20px;
  max-width: 180px;
}