.goalSection{
  max-width: 1000px;
  display: flex;
  flex-direction: column;
}
.main_label{
  font-size: 50px;
  margin: 5px;
  line-height: 1;
  margin-right: 10%;
  min-width: 500px;
}
button{
  margin: 5px;
  flex: auto;
}
.row{
  display: flex;
}